@model RateMyTechship.Models.Blog

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="form-container">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Major" class="control-label"></label>
                    <input asp-for="Major" class="form-control" />
                    <span asp-validation-for="Major" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BackgroundImage" class="control-label"></label>
                    <input asp-for="BackgroundImage" class="form-control" />
                    <span asp-validation-for="BackgroundImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea id="content" asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top: 20px;">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div style="margin-top: 20px; margin-bottom: 100px;">
                    <a asp-action="Index" style="text-decoration: none; color: black; background-color: orange; border-radius: 7px; font-size: 17px; padding: 7px 7px;">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@* <h1>Create</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea id="content" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackgroundImage" class="control-label"></label>
                <input asp-for="BackgroundImage" class="form-control" />
                <span asp-validation-for="BackgroundImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
 *@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.tiny.cloud/1/9dju8x2xg6hcolqt1tooqppvuj6aez3flsi5txd08uw9b9eu/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#content',
            plugins: 'image',
            toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright | image',
            height: 400, // Adjust the height as needed
            entity_encoding: 'raw'
        });
    </script>
}

