@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="font-family: 'Roboto', sans-serif;">@ViewData["Title"]</h1>

<p>Last updated: May 12, 2024</p>

<p style="font-family: 'Roboto', sans-serif;">Welcome to RateMyTechship! This privacy policy outlines how we collect, use, and protect your personal information when you visit our website and use our services.</p>
<h3 style="font-family: 'Roboto', sans-serif;">Information We Collect</h3>
<p style="font-family: 'Roboto', sans-serif;">
    We may collect personal information such as your name or email address if you want to provide it to us for user account creation.
    If not, you are more than welcome to use our website anonymously. Some of the anonymous information you may have to provide will
    relate to your past internships such as company name, internship period, position, rating, and a review of the internship.
    Also, we may collect non-personal information which includes your browser type, operating system, etc., all for the sole purpose
    of utilizing these statistics to enhance the overall flow and experience of our website and services.</p>

<h3 style="font-family: 'Roboto', sans-serif;">Use of Information</h3>
<p style="font-family: 'Roboto', sans-serif;">
    The collected information on our website is used to enhance our services and website to provide the best user experience for our
    audience. This includes displaying internship reviews and various information related to those reviews. If you choose to provide us
    with your email address, we may use it to communicate with you regarding our services or any important account information. You can
    choose to opt-out of receiving these notifications whenever you choose to.
</p>

<h3 style="font-family: 'Roboto', sans-serif;">Data Security</h3>
<p style="font-family: 'Roboto', sans-serif;">
    The security of your information is vital to us, and we take effective and appropriate measures to protect the privacy of your information
    to prevent any unauthorized access or interaction with your data. Nevertheless, we cannot garauntee definite scurity as any method of
    transfer over the Internet is not always secure.
</p>

<h3 style="font-family: 'Roboto', sans-serif;">Children's Privacy</h3>
<p style="font-family: 'Roboto', sans-serif;">
    Our website and services are not directed to individuals under the age of 13 as we do not knowingly collect personal information from children.
    If you think that we have collected information from a child under 13 without knowledge or intern, please do not hesitate to contact
    us immdeitaley.
</p>


<h3 style="font-family: 'Roboto', sans-serif;">Changes to this Privacy Policy</h3>
<p style="margin-bottom: 100px; font-family: 'Roboto', sans-serif;">
    This Privacy Policy may be updated periodically to reflect any changes made or applied in our legal practices. This will be notified to you
    through posting updates made on this Privacy Policy page and sending any notifications to your email if optionally provided.
</p>

