@{
    ViewData["Title"] = "Terms of Use";
}
<h1 style="font-family: 'Roboto', sans-serif;">@ViewData["Title"]</h1>

<p style="font-family: 'Roboto', sans-serif;">Last updated: June 7, 2024</p>

<p style="font-family: 'Roboto', sans-serif;">
    Welcome to RateMyTechship.com! These Terms of Use govern your use of our website and platform. By accessing or using our services, you agree to comply with and be bound by these Terms of Use.
    Please read these Terms carefully before using our Service.</p>

<h3 style="font-family: 'Roboto', sans-serif;">Use of Service</h3>
<p style="font-family: 'Roboto', sans-serif;">
    RateMyTechship is an open platform that allows students to rate and review their internship experiences in order to provide useful
    information to others in search of internships. Students can anonymously submit reviews of their past internships and optionally sign in
    with their emails to access additional features.
</p>

<h3 style="font-family: 'Roboto', sans-serif;">User Content</h3>
<p style="font-family: 'Roboto', sans-serif;">
    Content uploaded to RateMyTechship is within the responsibility of the user. Uploaded content will be monitored and reviewed by the
    admin when published to the website.
</p>

<h3 style="font-family: 'Roboto', sans-serif;">Privacy</h3>
<p style="font-family: 'Roboto', sans-serif;">
    RateMyTechsip values the privacy and security of its users and does not collect ay personal information other than the user's email address if given voluntarily.
</p>

<h3 style="font-family: 'Roboto', sans-serif;">User Content Guidelines</h3>
<p style="font-family: 'Roboto', sans-serif;">
    Content uploaded to RateMyTechship must be appropriate and safe. Users are prohibited from uploading any copyrighted material.
    In the case copyrighted material is uploaded to the website, RateMyTechship is not responsible as users have all the rights
    to the content they upload.
</p>

<h3 style="font-family: 'Roboto', sans-serif;">Termination</h3>
<p style="font-family: 'Roboto', sans-serif;">
    RateMyTechship reserves the right to terminate user accounts, remove any content from the website without prior notice, or suspend access
    to services for violating these Terms of Use. Users may terminate their account at any time.
</p>

<h3 style="font-family: 'Roboto', sans-serif;">Changes to Terms</h3>
<p style="font-family: 'Roboto', sans-serif;">
    RateMyTechship reserves the right to update or modify these Terms of Use at any time. Users are solely responsible for regularly
    reviewing these Terms for any changes or modifications. By using RateMyTechship, you agree to abide by these Terms. If you do not agree with these Terms, please do
    not use this Service. Please read these terms and conditions carefully before using our Service.

<h3 style="font-family: 'Roboto', sans-serif;">Contact Us</h3>
<p style="font-family: 'Roboto', sans-serif; margin-bottom: 100px;">
    If you have any questions about these Terms of Use, please contact us at: support@ratemytechship.com
</p>
